<%= form_for(@sportgood, :html => { :multipart => true }) do |f| %>
  <% if @sportgood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sportgood.errors.count, "error") %> prohibited this sportgood from being saved:</h2>
      <ul>
        <% @sportgood.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.collection_select :manufacturer_id, Manufacturer.where(category: 'sportgood'), :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :sportgoods_category %><br>
    <%= f.collection_select :sportgoods_category_id, SportgoodsCategory.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :sportgoods_subcategory %><br>
    <%= f.collection_select :sportgoods_subcategory_id, SportgoodsSubcategory.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :display %><br>
    <%= f.check_box :display %>
  </div>
  <div class="field">
    <%= f.label :hit %><br>
    <%= f.check_box :hit %>
  </div>
  <div>
    <% @product = @sportgood %>
    <%= render 'layouts/gallery_edit' %>
  </div>
  <%= f.fields_for :gallery do |g| %>
    <div class="control-group">
      <%= file_field_tag "images[]", type: :file, multiple: true, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Сохранить', class: "btn btn-primary" %>
  </div>
<% end %>
