<% @sportgoods ||= @products %>
<table class="table table-hover">
  <thead>
    <tr>
      <% class_type = 'sportgood' %>
      <th><%= t "activerecord.attributes.#{class_type}.manufacturer" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.name" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.sportgoods_category" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.sportgoods_subcategory" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.display" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sportgoods.each do |sportgood| %>
      <tr>
        <td><%= link_to sportgood.manufacturer.name, manufacturer_path(sportgood.manufacturer) %></td>
        <td><%= link_to sportgood.name, sportgood_path(sportgood) %></td>
        <td><%= sportgood.sportgoods_category_name %></td>
        <td><%= sportgood.sportgoods_subcategory_name %></td>
        <td>
          <%= form_for(sportgood, url: "#{sportgood_path(sportgood)}.json", remote: true) do |f| %>
            <%= f.check_box :display, id: "sportgood_display_#{sportgood.id}", class: 'display_checkbox' %>
          <% end %>
        </td>
        <td><%= link_to t(:edit), edit_sportgood_path(sportgood) %></td>
        <td><%= link_to t(:delete), sportgood, method: :delete, data: { confirm: t('confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sportgoods %>

