<table class="table table-hover">
  <thead>
    <tr>
      <% class_type = 'kidsbike' %>
      <th><%= t "activerecord.attributes.#{class_type}.manufacturer" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.name" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.price" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.use" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.recommended_age" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.weight" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.display" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @kidsbikes.each do |kidsbike| %>
      <tr>
        <td><%= link_to kidsbike.manufacturer.name, manufacturer_path(kidsbike.manufacturer) %></td>
        <td><%= link_to kidsbike.name, kidsbike_path(kidsbike) %></td>
        <td><%= kidsbike.price %></td>
        <td><%= kidsbike.use %></td>
        <td><%= kidsbike.recommended_age %></td>
        <td><%= kidsbike.weight %></td>
        <td>
          <%= form_for(kidsbike, url: "#{kidsbike_path(kidsbike)}.json", remote: true) do |f| %>
            <%= f.check_box :display, id: "kidsbike_display_#{kidsbike.id}", class: 'display_checkbox' %>
          <% end %>
        </td>
        <td><%= link_to t(:edit), edit_kidsbike_path(kidsbike) %></td>
        <td><%= link_to t(:delete), kidsbike, method: :delete, data: { confirm: t('confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @kidsbikes %>
