<% @skates ||= @products %>
<table class="table table-hover">
  <thead>
    <tr>
      <% class_type = 'skate' %>
      <th>Фото</th>
      <th><%= t "activerecord.attributes.#{class_type}.manufacturer" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.name" %></th>
      <th><%= t "activerecord.attributes.#{class_type}.display" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @skates.each do |skate| %>
      <tr>
        <td><%= image_tag skate.image.url(:preview), height: 40 if skate.image?  %></td>
        <td><%= link_to skate.manufacturer.name, manufacturer_path(skate.manufacturer) %></td>
        <td><%= link_to skate.name, skate_path(skate) %></td>
        <td>
          <%= form_for(skate, url: "#{skate_path(skate)}.json", remote: true) do |f| %>
            <%= f.check_box :display, id: "skate_display_#{skate.id}", class: 'display_checkbox' %>
          <% end %>
        </td>
        <td><%= link_to t(:edit), edit_skate_path(skate) %></td>
        <td><%= link_to t(:delete), skate, method: :delete, data: { confirm: t('confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @skates %>

