<p id="notice"><%= notice %></p>
<h2><%= "#{@manufacturer.name}" %></h2>
<p>
  <strong><%= t "activerecord.attributes.manufacturer.name" %>: </strong>
  <%= @manufacturer.name %>
</p>
<p>
  <strong><%= t "activerecord.attributes.manufacturer.category" %>: </strong>
  <%= Manufacturer::CATEGORIES[@manufacturer.category.to_sym] %>
</p>
<p>
  <strong><%= t "activerecord.attributes.manufacturer.rate" %>: </strong>
  <%= @manufacturer.rate %>
</p>
<% if @manufacturer.id %>
  <%= link_to t(:edit), edit_manufacturer_path(@manufacturer) %>
  <br>
  <%= link_to 'Отображать', change_display_path(@manufacturer, '1'), class: 'btn btn-default btn-sm' %>
  <%= link_to 'Не отображать', change_display_path(@manufacturer, '0'), class: 'btn btn-default btn-sm' %>
<% end %>
<span>
  <%= "#{@manufacturer.send(@manufacturer.category.pluralize.to_sym).where(display: true).count}/#{@manufacturer.send(@manufacturer.category.pluralize.to_sym).count}" %>
</span>
<br>
<br>
<% @products = @manufacturer.send(@manufacturer.category.pluralize.to_sym).order(:name).paginate(page: params[:page], per_page: @per_page) %>
<%= render "#{@manufacturer.category.pluralize}/index" %>
