<p id="notice"><%= notice %></p>
<h2><%= "#{@product.manufacturer.name if @product.manufacturer} #{@product.name}" %></h2>
<% attrs = @product.attributes.map(&:first) - ["id", "image_file_name", "image_content_type", "image_file_size", "image_updated_at", "created_at", "updated_at", "manufacturer_id", "sportgoods_category_id", "sportgoods_subcategory_id"] %>
<% attrs = ["sportgoods_category_name", "sportgoods_subcategory_name"] + attrs if @product.class.name == 'Sportgood' %>
<p>
  <strong><%= t "activerecord.attributes.#{@product.class.to_s.downcase}.manufacturer" %>: </strong>
  <%= link_to t(@product.manufacturer.name), manufacturer_path(@product.manufacturer) if @product.manufacturer %>
</p>
<% attrs.each do |attr| %>
  <p>
    <strong><%= t "activerecord.attributes.#{@product.class.to_s.downcase}.#{attr.downcase}" %>: </strong>
    <% if @product[attr.to_sym] == !!@product[attr.to_sym] %>
      <%= t @product.send(attr.to_sym).to_s %>
    <% else %>
      <%= @product.send(attr.to_sym) %>
    <% end %>
  </p>
<% end %>
<%= render 'layouts/gallery' %>
</p>
<%= link_to t(:edit), "/admin/#{@product.class.to_s.downcase.pluralize}/#{@product.id}/edit" %>
