<!DOCTYPE html>
<html>
  <head>
    <title>RealBike.by</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if can? :manage, :bike %>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <%= link_to 'RealBike', admin_path, class: "navbar-brand" %>
            <div class="rate"><%= "Курс: #{Variable.rate.value} BYR/USD" %> <%= link_to 'Изменить', edit_variable_path(Variable.rate), class: 'btn btn-default btn-sm' %></div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% Manufacturer::CATEGORIES.each do |category|%>
                <li><%= link_to t("#{category[0]}_plural"), "/admin/manufacturers/category/#{category[0]}" %></li>
              <% end %>
              <li>
                <%= link_to 'Категории спорттоваров', sportgoods_categories_path %>
              </li>
              <li>
                <%= link_to 'Отзывы', reviews_path %>
              </li>
              <% if can? :manage, User %>
                <li>
                  <%= link_to 'Пользователи', users_path %>
                </li>
              <% end %>
              <li>
                <%= render 'layouts/login_links' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
    <div class="container">
      <%= yield %>
      <%= link_to t(:back), "javascript:history.back()", class: 'btn btn-default' %>
    </div>
    <br>
  </body>
</html>